.filter__btn {
    background-color: var(--gray-dark);
    padding: 5px 10px;
    color: var(--gray-light);
    letter-spacing: 1px;
    cursor: pointer;
    border: 1px solid transparent;
    font-size: 2rem;
    box-sizing: border-box;
    border: 1px solid transparent;
}

.filter__btn:hover,
.filter__btn:focus {
    outline: none;
    border-color: var(--green-light);
    color: var(--green-light);
}