.expense {
    background-color: var(--gray-dark);
    border-radius: 10px;
    position: relative;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6rem 2rem;
    box-sizing: border-box;
}

.expense.expense--invoice-info,
.expense.expense--cc-info {
    padding: 0;
    box-sizing: border-box;
}

.expense.expense--search {
    max-width: 80%;
}
