.expense__table {
    background-color: var(--gray-dark-2);
    border-radius: 8px;
    border-collapse: collapse;
    display: block;
    margin-bottom: 2rem;
    max-height: 250px;
    max-width: 100%;
    overflow: auto;
    margin-bottom: 2rem;
}

.expense__table::-webkit-scrollbar {
    background-color: var(--gray-dark-2);
}

.expense__table::-webkit-scrollbar-thumb {
    background-color: var(--gray-dark-3);
    cursor: pointer;
}

.expense__table::-webkit-scrollbar-corner {
    background-color: var(--gray-dark);
}